body {
  font-family: "Open+Sans", sans-serif;
  color: #f9fafc;
  background-color: #191f29;
  height: 100vh;
}

#mynetwork {
  width: 100%;
  height: 85vh;
  background-color: #40434b;
}

.vis-network {
  border-radius: 8px;
}
