@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Open+Sans", sans-serif;
  color: #f9fafc;
  background-color: #191f29;
  height: 100vh;
}

#networkDiag {
  width: 100%;
  border-radius: 8px;
  height: 80vh;
  background-color: #40434b;
}
