<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDoマップ (🧪)</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container px-3 h-full mx-auto">
      <header class="flex justify-between items-center">
        <span class="text-2xl font-semibold my-2">(🧪) ToDoマップ</span>
        <button
          id="refreshButton"
          class="hidden bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          onclick="location.reload()"
        >
          次の目標を設定する
        </button>
      </header>
      <section id="networkDiag"></section>
      <footer class="flex flex-wrap pt-1 justify-between items-center">
        <div class="float-left">
          <span class="mr-2">
            Author |
            <a
              href="https://github.com/ZEKE320"
              class="text-gray-500 hover:text-blue-400"
              >@ZEKE320</a
            >
          </span>
          <span>
            Source |
            <a
              href="https://github.com/ZEKE320/todo-map"
              class="text-gray-500 hover:text-blue-400"
              >GitHub</a
            >
          </span>
        </div>
        <div class="float-right">
          参考 |
          <a
            href="https://daigovideolab.jp/play/1586367723"
            class="text-gray-500 hover:text-blue-400"
            >科学的に最強な雑談のはじめ方【会話スターター】とは？ (D-Lab)</a
          >
        </div>
      </footer>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
