@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Open+Sans", sans-serif;
  color: #f9fafc;
  background-color: #1d2429;
  height: 100vh;
}

#todoMap {
  height: 90vh;
  max-height: 100%;
  width: 100%;
  border-radius: 8px;
  background-color: #3e4d57;
}
